.content-container {
  display: flex;
  justify-content: space-around;

  padding: 5rem 7rem;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  .poster-container {
    display: flex;
    align-items: center;

    img {
      width: 17rem;
      height: 25rem;
    }
  }

  .movieInfo-container {
    margin: 2rem 1rem;
    background-color: rgb(255, 255, 255, 0.55);

    width: 800px;
    height: 25rem;

    .movieInfo-top {
      margin: 1rem;
      div {
        font-size: 0.8rem;
      }

      h2 {
        font-size: 1.2rem;
      }

      .genre:not(:last-child)::after {
        content: ", ";
      }
    }

    .content-menu {
      position: relative;
      width: 95%;
      display: flex;
      flex-wrap: wrap;
      max-height: 330px;
      margin: 0 1rem;

      .content__other {
        position: relative;
        max-width: 700px;
      }

      .content-menu__inner {
        .overview {
          display: block;
          font-size: 0.9rem;
          width: calc(100% - 2rem);
          max-height: 6rem;
          overflow-y: auto;
        }
      }

      .overview-info {
        margin-top: 10px;
        display: flex;
        justify-content: left;

        .crew {
          padding: 0;
          font-size: 0.85rem;
          margin-right: 1rem;

          li:last-child {
            color: rgb(90, 90, 90);
          }
        }
      }
    }
  }

  .movieInfo-menu {
    border-bottom: 3px solid red;
    padding: 1rem 0;
    margin: 1rem 0;
    font-size: 0.8rem;

    display: flex;
    justify-content: space-around;

    span {
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: red;
      }
    }
  }

  .play-btn {
    cursor: pointer;
    font-family: "Racing Sans One", cursive;
    background-color: red;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    transition: 0.7s;
    position: relative;
    padding: 0;

    p {
      transition: 0.8s;
      opacity: 0;
      text-align: right;
    }

    div {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:hover {
      width: 120px;
      p {
        opacity: 1;
        font-size: 1.2rem;

        &::after {
          content: "Play";
        }
      }
    }
  }
}

.overview::-webkit-scrollbar {
  width: 4px;
}
.overview::-webkit-scrollbar-thumb {
  background-color: red;
}

.overview::-webkit-scrollbar-track {
  border: 3px solid rgb(193, 193, 193);
}

/* PC (Resolution 1024px)*/
@media all and (min-width: 1024px) {
}

/* Tablets Horizontal Tablets Vertical (Resolution 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
}

/* Mobile horizontal, mobile vertical (Resolution 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .content-container {
    padding: 5rem 1rem;
    flex-direction: column;
    // position: absolute;
    // top: 0;
    // left: 0;
    // transform: translateX(25%);

    .movieInfo-container {
      margin: auto;
      width: 80vw;
    }

    .poster-container {
      margin: auto;
      text-align: center;
      margin-bottom: 2rem;
      width: 80vw;

      img {
        width: 100%;
      }
    }

    .content__other {
      width: 95%;
    }
  }
}
