.list__inner {
  box-shadow: 4px 3px 4px rgb(37, 35, 35);

  margin: 5rem;
  border-radius: 14px;
  padding-bottom: 8px;

  h1 {
    padding-top: 40px;
    font-size: 1.6rem;
    color: red;
  }

  .movie__list {
    margin: 50px;
    display: flex;
    font-size: 0.8rem;
    overflow-x: scroll;
    padding-bottom: 20px;
  }

  .movie__list::-webkit-scrollbar {
    height: 4.5px;
  }
  .movie__list::-webkit-scrollbar-thumb {
    background-color: red;
  }

  .movie__list::-webkit-scrollbar-track {
    border: 3px solid rgb(193, 193, 193);
  }
}
