.movie {
  background-color: rgb(239, 238, 238);
  width: 130px;

  margin: 10px;
  border-radius: 8px;
  border: 3.5px solid transparent;
  min-height: 260px;
  text-shadow: 1px 1px 2px rgb(162, 162, 162);
  color: black;
  transition: 0.3s;

  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);

  h3,
  p {
    font-size: 0.8rem;
  }

  &:hover {
    border-color: red;
  }

  .movie-box {
    margin: 0.5rem;
    p {
      display: flex;
      align-items: center;
      margin-top: 0.3rem;
      margin-bottom: 0;
    }
    p > img {
      margin-left: 5px;
      margin-right: 3px;
      width: 12px;
    }
    h3 {
      margin-top: 0;
      margin-bottom: 0;

      text-align: left;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .movie-poster {
    width: 130px;
  }
}
