a {
  color: rgb(255, 255, 255);
}

.navbar__list {
  box-sizing: border-box;

  z-index: 10;
  background-color: black;
  justify-content: space-around;
  display: flex;
  box-shadow: 3px 2px 4px rgb(24, 11, 11);
  position: fixed;
  width: 100%;
  top: 0;

  div:first-child {
    display: flex;
    align-items: center;
  }

  .logo {
    color: red;
    font-size: 2rem;
  }
}

.nav-effect {
  color: red;
}

.menu__list {
  flex: 0.7;
  display: flex;
  justify-content: space-around;

  li {
    transition: 0.3s;
    &:hover {
      color: red;
    }
  }
}

/* PC (Resolution 1024px)*/
@media all and (min-width: 1024px) {
  .responsive__navbar {
    display: none;
  }

  .menu-bar {
    display: none;
  }
}

/* Tablets Horizontal Tablets Vertical (Resolution 768px ~ 1023px)*/
@media all and (min-width: 768px) and (max-width: 1023px) {
  .responsive__navbar {
    display: none;
  }

  .menu-bar {
    display: none;
  }
}

/* Mobile horizontal, mobile vertical (Resolution 480px ~ 767px)*/
@media all and (max-width: 767px) {
  .responsive__navbar {
    position: fixed;
    top: 0;
    padding-top: 2rem;
    width: 100vw;
    height: 100vh;
    animation: moveFade 0.5s ease-in-out;

    z-index: 10;
    color: white;
    background-color: black;

    ul {
      font-size: 1.5rem;
      padding-left: 0;
      li {
        height: 4rem;
        background-color: rgb(206, 0, 0);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;

        &:hover {
          background-color: white;
          color: black;
        }
      }
    }
  }

  .navbar__list {
    justify-content: space-between;
    padding: 0.5rem 1.5rem;
  }

  .menu__list {
    display: none;
  }

  .menu-bar {
    width: 1.5rem;
  }
}

@keyframes moveFade {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
