@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

$theme-color: rgb(192, 244, 159);

body {
  font-family: "Racing Sans One", cursive;
}

a {
  text-decoration: none;
  margin: auto 0;
}

li {
  list-style: none;
}
